<header>
  <nav>
    <div class="nav-brand">
      <h1>Member Only</h1>
    </div>

    <div class="Main-nav">
      <a href="/">HomePage</a>
      <% if (locals.user) { %>
        <a href="/member/">Board</a>
        <a href="/party">Party</a>
        <a href="/member/dashboard">Dashboard</a>

        <% } %>
    </div>

    <div class="nav-auth">
      <% if (locals.user) { %>
        <a href="/logout" class="btn-signout">Log out</a>
      <% } else { %>
        <a href="/login" class="btn-signin">Sign in</a>
      <% } %>
    </div>
  </nav>
</header>