<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
</head>
<body>
  <h1>Sign Up</h1>
  <form action="sign-up" method="POST">
    <label for="Firstname">Firstname</label>
    <input id="Firstname" name="Firstname" placeholder="Firstname" type="text" />
    <label for="Lastname">Lastname</label>
    <input id="Lastname" name="Lastname" placeholder="Lastname" type="text" />
    <label for="username">Email</label>
    <input id="email" name="email" placeholder="email" type="email" />
    <label for="password">Password</label>
    <input id="password" name="password" type="password" />
    <button type="submit">Sign Up</button>
  </form>
</body>
</html>
